#container
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 60px;
}

#slideshow #slidesContainer
{
  margin:0 auto;
  width:560px;
  height:263px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}

#slideshow #slidesContainer .slide
{
  margin:0 auto;
  width:540px; /* reduce by 20 pixels to avoid horizontal scroll */
  height:263px;
}

/**
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}

#leftControl
{
  top:0;
  left:0;
  background:transparent url(/Images/control_left.jpg) no-repeat 0 0;
}

#rightControl
{
  top:0;
  right:0;
  background:transparent url(/Images/control_right.jpg) no-repeat 0 0;
}