#container {
    margin-top: 80px;
}

#push {
    margin-top: 100px;
}

.home-btn {
    width: 150px;
}

#seed {
    margin-bottom: 10px;
}

#locate-me {
    margin-top: 10px;
}

#forkme {
    position: absolute;
    top: 40px;
    right: 0;
    border: 0;    
}

#slideshow
{
     height: 512px;
     width: 958px;
     margin: 0 auto;
     overflow:hidden;
     position: relative;
     border:6px solid LightGray;
     -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
             border-radius: 7px;     
}
 
#slidesContainer
{
     position: relative;
}
 
.slide
{
     float: left;
     position: relative;
}

#leftControl
{
  left: 15px;
}

#rightControl
{
  right: 15px;
}

.carouselControl
{
  position: absolute;
  top: 40%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carouselControl:hover
{
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
  cursor: pointer;
}

.carouselCaption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 15px 5px;
  background: #333333;
  background: rgba(0, 0, 0, 0.70);
  color: White;
}

h4, div.slide a
{
    color: White;
    text-decoration: none;
}

.loader
{
    visibility: hidden;
    margin-bottom: 12px;
}

.url
{
    width: 500px;
}

#seed
{
    width: 400px;
}

.footer
{
    position: fixed;
    bottom: 0;
    text-align: center;
}

.avatar {
    float: left;
    margin-right: 10px;
    border-radius: 5px;
}

.twitterProfileLink:hover {
    text-decoration: none;
}

.tweet {
    margin: 12px 12px 25px 12px;
    border-bottom: 1px solid lightgrey;
}

#tweets-div {
    height: 600px;
    overflow-y: auto;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-top-left-radius: 6px;
    border-bottom: 1px solid lightgrey;
    border-bottom-left-radius: 6px;
}

/* See http://twitter.github.com/bootstrap/examples/sticky-footer-navbar.html */

html, body
{
    height: 100%;
}

.wrap
{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}

#footer
{
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 100px;
}

@media (max-width: 767px)
{
    #footer
    {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}